# Browser profiles
zen/

# Editors
VSCodium/

# Application data
BeeperTexts/
QtProject/
QtProject.conf
Softdeluxe/
obsidian/
spotify/
qBittorrent/
kdeconnect/
pupgui/
rncbc.org/
vesktop/

# Runtime/cache
pulse/
wireplumber/
go/

# Generic caches
*/Cache/
*/cache/
*.log
*.lock
*.pid

.config/gtk-3.0/
.config/gtk-4.0/
.config/nvim/
.config/nwg-look/
.config/spicetify/
.config/xfce4/
.config/xsettingsd/
